.homeimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 480px;
  max-height: 525px;
  // margin-top: 0.8em;
}

.portfolio-box {
  padding-top: 2.5%;
}

.portfolio-image {
  display: flex;
  justify-content: center;
  padding: 2.5%;
}

.container {
  /*centers in the container*/
  text-align: center;
  font-size: 0.2em;
}

div.circTxt {
  /*allows for centering*/
  display: inline-block;
  /*adjust as needed*/
  margin-bottom: 128px;
  color: black;
  // width: 100%;
}


// text animation

.text-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    overflow: hidden;
    cursor: pointer;
}
.text-box .text{
    position: absolute;
    color: black;
    font-size: 0.2em;
    user-select: none;
    pointer-events: none;
    animation: Rotation 30s linear infinite;
}

@keyframes Rotation{
    0%
    {
       transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
.text-box .text span{
    position: absolute;
    top: -300px;
    display: inline-block;
    transform-origin: 0 300px;
}
